---
layout: default
title: Blog
permalink: /blog/
---
<div class="page">
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.title == "Doing it from Scratch: A Deep Dive into Linear Regression and Backpropagation -- And the Math That Goes With Them" %}
      {% assign post_date = post.date | date: "%b %-d, %Y" %}
      {% assign post_datetime = post.date | date_to_xmlschema %}
      {% if post.description %}{% assign post_description = post.description %}{% else %}{% assign post_description = post.excerpt | strip_html | truncate: 180 %}{% endif %}
      {% include work-card.html title=post.title date=post_date datetime=post_datetime description=post_description url=post.url %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
